<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="header-fix ion-padding-horizontal">
  <app-list-base #pageListBase class="messages-page-content" [config]="config" [template]="itemTemplate"></app-list-base>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="align-items-center">
    <div class="w-80 message-div">
      <textarea placeholder="Type a message" [(ngModel)]="messageText">
      </textarea>
    </div>
    <div class="w-20 ion-text-center">
      <ion-button *ngIf="messageText" class="message-editor-button" (click)="sendTextMessage()">
        <ion-icon color="secondary" slot="icon-only" name="send"></ion-icon>
      </ion-button>

      <ion-button color="secondary" *ngIf="!messageText" class="message-editor-button">
        <ion-icon slot="icon-only" name="mic"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-footer>

<ng-template #itemTemplate let-entity="entity">
  <div class="message"
  [class.right]="!entity.$$isOwner"
  [class.left]="entity.$$isOwner"
  [class.ion-text-right]="!entity.$$isOwner">
<!-- <img
 class="user-img"
 [src]="(msg.actionUser === userService.currentUser.id ? userService.currentUser.image : meta.otherUser.image)  || '../../../assets/images/userProfile.png'"> -->
<div class="msg-detail">
 <p class="line-breaker" >{{entity.messageText}}</p>
 <!-- <div class="msg-content">
 </div> -->
 <div class="msg-info font-size-0-7">
   <p>
     {{getCreated(entity.created)}}
   </p>
 </div>
</div>
</div>
<!-- <ion-item lines="none" class="day-wrapper">
  <div [class]="'message message-' + entity.owner">
    <div class="message-content message-content-text">{{entity.messageText}}</div>
    <span class="message-timestamp">{{ getCreated(entity.created) }}</span>
  </div>
</ion-item> -->
</ng-template>
