<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="header-fix ion-padding-horizontal">
  <!-- <div
  class="message"
  [class.left]="true"
  [class.ion-text-right]="false">
    <img
    class="user-img"
    [src]="'assets/images/userProfile.png'">
    <div class="msg-detail">
      <p class="line-breaker" >{{'Other Message'}}</p>
      <div class="msg-info font-size-0-7">
        <p>
          {{getCreated('2020-07-13T00:26:40.147')}}
        </p>
      </div>
    </div>
  </div>
  <div
  class="message"
  [class.right]="true"
  [class.ion-text-right]="true">
    <img
    class="user-img"
    [src]="'assets/images/userProfile.png'">
    <div class="msg-detail">
      <p class="line-breaker" >{{'My Message'}}</p>
      <div class="msg-info font-size-0-7">
        <p>
          {{getCreated('2020-07-13T00:26:40.147')}}
        </p>
      </div>
    </div>
  </div> -->
  <app-list-base #pageListBase class="messages-page-content" [config]="config" [template]="itemTemplate"></app-list-base>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="align-items-center">
    <div class="w-80 message-div">
      <textarea placeholder="Type a message" [(ngModel)]="messageText">
      </textarea>
    </div>
    <div class="w-20 ion-text-center">
      <ion-button *ngIf="messageText" class="message-editor-button" (click)="sendTextMessage()">
        <ion-icon color="secondary" slot="icon-only" name="send"></ion-icon>
      </ion-button>

      <ion-button color="secondary" *ngIf="!messageText" class="message-editor-button">
        <ion-icon slot="icon-only" name="mic"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-footer>

<ng-template #itemTemplate let-entity="entity">
  <div class="message"
  [class.right]="entity.$$isOwner"
  [class.left]="!entity.$$isOwner"
  [class.ion-text-right]="entity.$$isOwner">
    <img class="user-img" [src]="'assets/images/userProfile.png'">
    <div class="msg-detail">
      <p class="line-breaker" >{{entity.messageText}}</p>
      <div class="msg-info font-size-0-7">
        <p>
          {{getCreated(entity.created)}}
        </p>
      </div>
    </div>
  </div>
</ng-template>
